<td><%= Ticker %></td>
<td><a href="#!q=<%= Ticker %>"><%= Name %></a></td>
<td class="price">$<%= Last %></td>
<td class="change <% if (Change > 0) { %>plus<% } else { %>minus<% } %>">
	<%= Change %>
</td>
<td class="changep <% if(ChangePercent>0){ %>plus<% } else { %>minus<% } %>">
	<%= ChangePercent %>
</td>
<td class="open"><%= Open %></td>
<td>
	<%= (new Date(TradeTime * 1000)).toGMTString() %>
</td>